/* fonts */

div.jqcloud {
  line-height: normal;
}

.jqcloud-mini {
  font-size: 12px;
}

.jqcloud-maxi {
  font-size: 20px;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10, span.wa10, span.wb10 { font-size: 200%; opacity: 0.9; }
div.jqcloud span.w9,  span.wa9,  span.wb9  { font-size: 185%; opacity: 0.9; }
div.jqcloud span.w8,  span.wa8,  span.wb8  { font-size: 170%; opacity: 0.9; }
div.jqcloud span.w7,  span.wa7,  span.wb7  { font-size: 160%; opacity: 0.9; }
div.jqcloud span.w6,  span.wa6,  span.wb6  { font-size: 150%; opacity: 0.9; }
div.jqcloud span.w5,  span.wa5,  span.wb5  { font-size: 140%; opacity: 0.9; }
div.jqcloud span.w4,  span.wa4,  span.wb4  { font-size: 130%; opacity: 0.9; }
div.jqcloud span.w3,  span.wa3,  span.wb3  { font-size: 120%; opacity: 0.9; }
div.jqcloud span.w2,  span.wa2,  span.wb2  { font-size: 110%; opacity: 0.9; }
div.jqcloud span.w1,  span.wa1,  span.wb1  { font-size: 100%; opacity: 0.9; }


/* colors */

div.jqcloud { color: rgb(21,167,180); }
div.jqcloud a {
  color: inherit;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
div.jqcloud a:hover {
  background-color: rgba(255, 255, 0, 0.3);
}

/* no toggle */
div.jqcloud span.w10 { color: rgb(21,167,180); }
div.jqcloud span.w9  { color: rgb(33,124,168); }
div.jqcloud span.w8  { color: rgb(1,79,127); }
div.jqcloud span.w7  { color: rgb(208,221,43); }
div.jqcloud span.w6  { color: rgb(152,199,61); }
div.jqcloud span.w5  { color: rgb(0,169,224); }
div.jqcloud span.w4  { color: rgb(103,205,220); }
div.jqcloud span.w3  { color: rgb(168,115,185); }
div.jqcloud span.w2  { color: rgb(140,198,77); }
div.jqcloud span.w1  { color: rgb(92,173,168); }

/* toggling */
div.jqcloud span.wa10 { color: rgb(21,167,180); }
div.jqcloud span.wa9  { color: rgb(33,124,168); }
div.jqcloud span.wa8  { color: rgb(1,79,127); }
div.jqcloud span.wa7  { color: rgb(208,221,43); }
div.jqcloud span.wa6  { color: rgb(152,199,61); }
div.jqcloud span.wa5  { color: rgb(0,169,224); }
div.jqcloud span.wa4  { color: rgb(103,205,220); }
div.jqcloud span.wa3  { color: rgb(168,115,185); }
div.jqcloud span.wa2  { color: rgb(140,198,77); }
div.jqcloud span.wa1  { color: rgb(92,173,168); }

div.jqcloud span.wb10 { color: rgb(92,173,168); }
div.jqcloud span.wb9  { color: rgb(140,198,77); }
div.jqcloud span.wb8  { color: rgb(168,115,185); }
div.jqcloud span.wb7  { color: rgb(103,205,220); }
div.jqcloud span.wb6  { color: rgb(0,169,224); }
div.jqcloud span.wb5  { color: rgb(152,199,61); }
div.jqcloud span.wb4  { color: rgb(208,221,43); }
div.jqcloud span.wb3  { color: rgb(1,79,127); }
div.jqcloud span.wb2  { color: rgb(33,124,168); }
div.jqcloud span.wb1  { color: rgb(21,167,180); }

/* clicked */
div.jqcloud span.clicked {
  background-color: rgba(255, 220, 0, 0.5);
}

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span {
  padding: 0;
  overflow: hidden;
  word-spacing: -0.1em;
}


